@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* 通用 */
:root{
    --Neutral-900: #212529;
    --Neutral-600: #6C757D;
    --Neutral-700: #495057;
    --Neutral-300: #DEE2E6;
    --Primary-400: #57A203;
    --Primary-300: #C0FA73;
    --Primary-200: #E8FEC5;
    --Neutral-White: #FFFFFF;
    --Functional-Danger-300:#D74F4F;
}

body{
    color: var(--Neutral-900);
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

a{
    text-decoration: none;
    color: var(--Neutral-900);
    display: block;
}

img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* 外層 */
.container{
    max-width: 1296px;
    margin: 0 auto;
}

/* 格線 */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.col-1{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12);
} 

.col-2{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 2);
} 

.col-3{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 3);
} 

.col-4{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 4);
} 

.col-5{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 5);
}

.col-6{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 6);
} 

.col-7{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 7);
} 

.col-8{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 8);
} 

.col-9{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 9);
} 

.col-10{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 10);
} 

.col-11{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 11);
} 

.col-12{
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
} 

/* flex */
.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.a-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}

/* 間距 */
.pt-32{
    padding-top: 32px;
}

.py-7{
    padding-top: 7px;
    padding-bottom: 7px;
}

.py-9-5{
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-16{
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-24{
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-32{
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-48{
    padding-top: 48px;
    padding-bottom: 48px;
}


.py-64{
    padding-top: 64px;
    padding-bottom: 64px;
}

.ml-8{
    margin-left: 8px;
}

.ml-12{
    margin-left: 12px;
}

.mr-8{
    margin-right: 8px;
}

.mr-12{
    margin-right: 12px;
}

.mr-24{
    margin-right: 24px;
}

.mr-40{
    margin-right: 40px;
}

.mr-48{
    margin-right: 48px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-48{
    margin-bottom: 48px;
}

.gap-8{
    gap: 8px;
}

.gap-24{
    gap: 24px;
}

/* 標題樣式 */
.h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.h3{
    font-size: 28px;
    font-weight: 700;
}

.h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.h6{
    font-weight: 700;
    line-height: 1.2;
}

/* 元件 */
.breadcrumb-item + .breadcrumb-item::before{
    content: '/';
    padding: 0 12px;
    color: var(--Neutral-300);
    font-weight: 700;
}

.breadcrumb-link{
    color: var(--Neutral-600);
    display: inline;
}

.btn{
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    padding: 12px 24px;
}

.btn-light{
    border: solid 1px var(--Neutral-900);
}

.btn-dark{
    background-color: var(--Neutral-900);
    color: var(--Neutral-White);
}
