.personIcon{
    width: 24px;
    height: 24px;
    text-align: center;
}

.personIcon a{
    display: block;
}

.product-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.product-col{
    padding-left: 4px;
    padding-right: 4px;
    width: calc(100% / 12 * 6);
}

.information .h5{
    color: var(--Primary-400);
}

.information del{
    color: var(--Neutral-600);
    font-size: 14px;
    font-weight: 400;
}

.information p{
    font-weight: 400;
}

.product-color{
    width: 64px;
    text-align: center;
    color: var(--Neutral-600);
}

.product-size .btn{
    border: solid 1px var(--Neutral-300);
    width: 160px;
}

.product-size .active,
.product-size :hover{
    border-color: var(--Neutral-900);
}

.product-size .none{
pointer-events: none
}

.product-size p{
    color: var(--Functional-Danger-300);
    font-size: 14px;
    font-weight: 400;
}

.cta .btn{
    width: 50%;
}

.accordion p{
    color: var(--Neutral-600);
    font-weight: 400;
}

.accordion-item{
    border-bottom: 1px solid var(--Neutral-300);
}

.banner{
    background: var(--Primary-200);
}

.footer{
    color: var(--Neutral-600);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border-top: solid 1px var(--Neutral-300);
}

/* 擬態選擇器 */
nav a:hover{
    color: var(--Neutral-600);
}

nav i:hover{
    color: var(--Primary-400);
}

.cta .btn-light:hover{
    color: var(--Neutral-White);
    background-color: var(--Neutral-900);
}

.cta .btn-dark:hover,
.banner .btn:hover{
    background-color: var(--Neutral-700);
}